body{
    margin: 0px;
}
::selection{
    color: white;
    background-color: rgb(255, 174, 0);
}

*,
*:before,
*:after {
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.header{
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 10px 24px;
    position: sticky;
}

.header_inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.h_logo, .h_searchline, .h_additional{
    height: 100%;
}

.h_logo{
    display: flex;
    width: 25%;
    cursor: pointer;
    .logo_img{
        user-select: none;
        height: 100%;
        width: 4vw;
        background: url("/assets/images/logo.svg") center no-repeat;
        background-size: contain;
    }
    .logo_text{
        margin: auto 0;
        color: rgb(255, 208, 0);
        font-size: 3vw;
        font-weight: 700;
        padding: 0 10px;
    }
}

.h_searchline{
    width: 40%;
    min-width: 200px;
    display: flex;
}

.search-bar{
    width: 90%;
	height: 30px;
    display: flex;
    margin: auto 0;
}

//.search-btn, .search-bar input{}

.search-bar input  {
	width: 90%;
    text-decoration: none;
    outline: none;
    border: gray 2px solid;
    border-radius: 8px 0 0 8px;
}

input:focus{
    border: blue 2px solid;
}

.search-btn{
    width: 40px;
    border-radius: 0 8px 8px 0;
    display: flex;
    cursor: pointer;
    svg{
        height: 20px;
        width: 20px;
        margin: auto;
    }    
}
.search-btn:hover{
    box-shadow: 0px 0px 15px 1px rgb(148, 177, 177) inset;
}

.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.micro{
    width: 10%;
    padding: 0 10px;
    height: 30px;
    margin: auto 0;
    cursor: pointer;
    svg{
        fill: gray;
        height: 30px;
        width: 30px;
    }
    svg:hover{
        fill: lightgrey;
    }
}

.h_additional{
    width: 25%;
    display: flex;
}

.h_img{
    margin: 0 0 0 auto;
    display: flex;
}

.bell_img{
    margin: auto 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    svg{
        height: 30px;
        width: 30px;
        margin: auto;
        fill: grey;
    }
    svg:hover{
        fill: lightgrey;
    }
}

.paw_img{
    height: 40px;
    margin: auto 0 auto 10px;
    width: 40px;
    border-radius: 100px;
    background-color: gold;
    display: flex;
    justify-content: center;
    cursor: pointer;
    svg{
        height: 24px;
        width: 24px;
        margin: auto;
        fill: black;
    }
}
.paw_img:hover{
    background-color: black;
    svg{
        fill: gold;
    }
}

.contant{
    display: flex;
}

.sidebar{
    height: 100px;
    width: 272px;
    background-color: rgb(248, 248, 226);
}

.main_part{
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 40px;
    margin: auto 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    height: 30px;
    display: flex;
    padding: 0 16px;
    margin: 3px 0;
    svg{
        height: 24px;
        width: 24px;
        margin: auto 0;
        fill: black;
    }
    .lii{
        margin: auto 0;
        padding-left: 10px;
    }
}
li:hover{
    background-color: lightgrey;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover, .dropdown-content:hover {
    .paw_img{
        background-color: black;
        svg{
            fill: gold;
        }
    }
}

ul, li{
    list-style: none;
}

hr{
    background-color: black;
}

.paw_img{
    height: 40px;
    margin: auto 0 auto 10px;
    width: 40px;
    border-radius: 100px;
    background-color: gold;
    display: flex;
    justify-content: center;

    svg{
        height: 24px;
        width: 24px;
        margin: auto;
        fill: black;
    }
}
.paw_img:hover{
    background-color: black;
    svg{
        fill: gold;
    }
}

//===============================//
.s_status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    animation: radial-s_status 2s infinite;
}
  
@keyframes radial-s_status { 
    0% {
        box-shadow: 0 0 0 0px rgb(255, 132, 132);
    }
    100% {
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
    }
}

.contant{
    $one    : 100vh;
    $two   : 80px;
    height: calc(#{$one} - #{$two});
}

::-webkit-scrollbar { 
    display: none; 
}
.sidebar{
    min-height: 100%;
    padding: 0px 24px;
    .s_part1{
        overflow: auto;
        height: 76%;
        width: 100%;
        padding: 15px 0;
        table{
            width: 100%;
            tr{
                display: flex;
                width: 100%;
                padding: 15px 0;
                td{
                    font-size: 18px;
                    margin: auto 0;
                }
                .col1{
                    width: 30px;
                }
                .col2{
                    padding: 0 10px;
                    width: 100%;
                    max-width: 90px;
                    .s_name{
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .col2:hover{
                    color: blue;
                    cursor: pointer;
                }
                .col3{
                    min-width: 12px;
                    justify-content: center;
                }
                .col4{
                    width: 40px;
                }
            }
            tr:hover{
                background-color: lightgrey;
            }
        }
    }
}

.s_text{
    cursor: pointer;
    width: 100%;
    margin: 24px auto;
    text-align: center;
    font-size: 2vw;
}

.s_links{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.s_vec{
    cursor: pointer;
    width: 40px;
    padding: 0 10px;
    height: 40px;
    cursor: pointer;
    svg{
        margin: 6px 0 0 -4px;
        height: 30px;
        width: 30px;
    }
    svg:hover{
        fill: blue;
    }
}

@media (max-width: 1200px) {
    .col2, .col3, .col4{
        display: none;
    }
    .main_part{
        width: 100%;
    }
    .sidebar{
        width: 84px;
    }
    .s_links{
        display: block;
    }
}